/*GALLERIE*/

/*form*/
.formContact {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 16px;
  border-radius: 5px;
  background-color: #fff;
  max-height: 620px;
  height: 400px;
  width: 400px !important;
  margin-left: auto;
  margin-right: 20px;
  padding: 0 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (max-width: 768px) {
  .mapstyle{
    width: 340px !important;
    height: 300px !important;
    margin-left: -1px !important;
    margin-top: 15px;
    margin-right: 3px;
  }
  .formContact{
    width:340px !important;
  }
  body{
  overflow-x: hidden !important;

  }
}

  .input {
    width: 100%;
    height: 35px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
  }
  .input:hover {
    border-bottom: 5px solid #599bb3;

    transition: ease 0.3s;
  }
  .textarea {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    max-height: 100px;
    min-height: 100px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
  }
  .textarea:hover {
    border-bottom: 5px solid #599bb3;
    transition: ease 0.3s;
  }
  .label {
    margin-top: 1rem;
  }
.sendbutton{
  box-shadow: 0px 1px 0px 0px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:6px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
  margin-top: 10px;
}
.sendbutton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.sendbutton:active {
	position:relative;
	top:1px;
}



/*HERO*/
.heropic{

  height:600px;
}

.carouselCaption{
background-color: #2424249f;
border-radius: 15px;
}

.carouselCaption p {
  font-size: larger;
}
/*FOOTER*/
.footersection{
  background-color:#212529 ;
  max-width: 1400px !important;
  margin-top: 5%;
  align-items: center;
  height: 150px;
  color: #fff;
  align-items: center;
  justify-content: center;
}

.footerDiv{
  justify-content: center !important;
  align-items: center !important;
  margin-top: 30px !important;
  text-align: center !important;
}

.footerlogo{
  height: 100px;
  width: 200px;
  margin-bottom: 20px;
  margin-left: 50px;
}

/*ContactUs*/
.contactcontainer{
  background-color: #e7e7e7;
  margin-top: 5%;
  display:block;
  padding: 20px 10px;
}
/*social media*/
.socialstyle{
  display: flex;
  margin:auto;
  align-items: center;
  justify-content: center;
}

.socialicon{
  color:darkgray;
  transition:color 0.2s;
  font-size: 50px;
  margin-top: 20px 0;
}

.socialicon:hover{
  color:grey;
}

.mapstyle{
  margin-left: 20px;
  align-items: center;
  height:400px;
  width: 400px;
  display: block;
}





.submit:hover {
 
  box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  transform: translateY(-3px);
  width: 120px;
  border-top: 5px solid #DAFDBA;
  
}




