/*FORMATIONS*/
.cards {
  padding: 10px;
  border-radius: 0%;
  align-items: center !important;
  justify-content: center !important;
  margin-left: 50px;
}
.langpic {
  width: 300px;
  height: 300px;
}
.langCard {
  overflow: hidden;
  border: 1px solid grey;
  height: 400px;
  width: 350px !important;
}
/*LANGUES*/
.Langue {
  margin-top: 5%;
  margin-left: 50px;
}
.langueTitle {
  font-size: 2.8em !important;
  font-weight: 300 !important;
  font-family: "Darby Sans Web" !important;
  color: #292929 !important;
}
.line {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 200px;
  border-bottom: 1px solid #bebdbd !important;
}

.btnSeeAll {
  background-color: #8a1538;
  border-radius: 17px;
  border: 2px solid #8a1538;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 6px 13px;
  text-decoration: none;
}
.btnSeeAll:hover {
  background-color: white;
  color: #932242;
}

/*form*/
.formContact {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 16px;
  border-radius: 5px;
  background-color: #fff;
  max-height: 620px;
  height: 400px;
  width: 400px !important;
  margin-left: auto;
  margin-right: 20px;
  padding: 0 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (max-width: 768px) {
  .mapstyle {
    width: 340px !important;
    height: 300px !important;
    margin-left: -1px !important;
    margin-top: 15px;
    margin-right: 3px;
  }
  .formContact {
    width: 340px !important;
  }
  body {
    overflow-x: hidden !important;
  }
}

.input {
  width: 100%;
  height: 35px;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}
.input:hover {
  border-bottom: 5px solid #8a1538;

  transition: ease 0.3s;
}
.textarea {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  max-height: 100px;
  min-height: 100px;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}
.textarea:hover {
  border-bottom: 5px solid #8a1538;
  transition: ease 0.3s;
}
.label {
  margin-top: 1rem;
}
.sendbutton {
  margin-top: 10px;

  background-color: #8a1538;
  border-radius: 6px;
  border: 1px solid #8a1538;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
}
.sendbutton:hover {
  color: #8a1538;
  background-color: white;
}
.sendbutton:active {
  position: relative;
  top: 1px;
}

/*HERO*/
.heropic {
  height: 600px;
}

.carouselCaption {
  background-color: #2424249f;
  border-radius: 15px;
}

.carouselCaption p {
  font-size: larger;
}
/*FOOTER*/
.footersection {
  background-color: #212529;
  max-width: 1600px !important;
  /*margin-top: 5%;*/
  align-items: center;
  color: #fff;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.footerDiv {
  justify-content: center !important;
  align-items: center !important;
  margin-top: 30px !important;
  text-align: center !important;
}

.footerlogo {
  height: 70px;
  width: 200px;
  margin-bottom: 10px;
  margin-left: 50px;
}

/*ContactUs*/
.contactcontainer {
  background-color: #e0e0e0;
  margin-top: 5%;
  display: block;
  padding: 20px 10px;
}

/*social media*/
.socialstyle {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.socialicon {
  color: darkgray;
  transition: color 0.2s;
  font-size: 50px;
  margin-top: 20px 0;
}

.socialicon:hover {
  color: grey;
}

.mapstyle {
  margin-left: 20px;
  align-items: center;
  height: 400px;
  width: 400px;
  display: block;
}

.submit:hover {
  box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  transform: translateY(-3px);
  width: 120px;
  border-top: 5px solid #dafdba;
}

@media (min-width: 768px) {
  .scrolling-title {
    background-color: white;
  }
  .scrolling-title h1 {
    color: #292929;
    font-family: "Darby Sans Web";
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    animation: scroll-title 35s linear infinite;
  }
  .reserveTitle span {
    color: #6a112b;
  }

  @keyframes scroll-title {
    from {
      transform: translateX(90%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .reserveTitle {
    color: #212529;
    text-align: right;
  }
}

@media (max-width: 768px) {
  .scrolling-title h1 {
    white-space: normal;
    display: inline-block;
    overflow-x: hidden;
    margin: 5px;
    margin-top: 20px !important;
    margin-left: 25px !important;
  }
  .reserveTitle span {
    color: #6a112b;
  }
}
