body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
